<div class="navbar">
    <div class="logo">🎨 ArtGallery</div>

    <div class="links">
        <a href="/">Home</a>
        <a href="/artists">Artists</a>
        <a href="/buy">Buy Artwork</a>
        <a href="/exhibitions">Exhibitions</a>
    </div>
</div>