<!DOCTYPE html>
<html>
<head>
    <title>Art Gallery</title>

    <!-- global -->
    <link rel="stylesheet" href="/styles/layout.css">

    <!-- page specific -->
    <%- style %>
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="page">
        <%- body %>
    </div>

</body>
</html>