<% layout('layouts/boilerplate') %>

<h1>Add Exhibition</h1>

<form action="/exhibitions" method="POST" class="form">

    <label>Name</label>
    <input type="text" name="name" required>

    <label>Date</label>
    <input type="date" name="date" required>

    <label>Location</label>
    <input type="text" name="location" required>

    <button class="btn add">Add</button>

</form>