<% layout('layouts/boilerplate') %>

<% style = '<link rel="stylesheet" href="/styles/main.css">' %>

<div class="hero">

    <h1>I DESIGN FOR GROWTH.</h1>

    <p>
        A platform where artists register, showcase artwork,
        and manage exhibitions.
    </p>

    <a href="/artists" class="btn">Explore Artists</a>

</div>